

<script type="text/javascript" src=" http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/start/jquery-ui.css">


<style>
    body { font-family: Helvetica, Arial }
    input:not([type]), input[type=text], input[type=password], select { background-color: #FFFFCC; border: 1px solid gray; padding: 2px; }

    table { background-color: #cde; padding: 1em; border-radius: 0.5em; }
    table th { text-align:left; }
    table th:last-child { min-width: 130px; }

    .starRating span { width:24px; height:24px; background-image: url(stars.png); display:inline-block; cursor: pointer; background-position: -24px 0; }
    .starRating span.chosen { background-position: 0 0; }
    .starRating:hover span { background-position: -24px 0; }
    .starRating:hover span.hoverChosen { background-position: 0 0; }
    
</style>

<h3 data-bind="text: question"></h3>
<p>Please distribute <b data-bind="text: pointsBudget"></b> points between the following options.</p>

<table>
    <thead><tr><th>Option</th><th>Importance</th></tr></thead>
    <tbody data-bind="foreach: answers">
        <tr>
            <td data-bind="text: answerText"></td>
            <td data-bind="starRating: points"></td>
        </tr>    
    </tbody>
</table>

<h3 data-bind="fadeVisible: pointsUsed() > pointsBudget">You've used too many points! Please remove some.</h3>
<p>You've got <b data-bind="text: pointsBudget - pointsUsed()"></b> points left to use.</p>
<button data-bind="jqButton: { enable: pointsUsed() <= pointsBudget }, click: save">Finished</button>


<script>

    ko.bindingHandlers.starRating = {
        init: function(element, valueAccessor) {
            $(element).addClass("starRating");
            for (var i = 0; i < 5; i++)
                $("<span>").appendTo(element);
                
            $("span", element).each(function(index){
                $(this).hover(
                    function() { $(this).prevAll().add(this).addClass("hoverChosen") },
                    function() { $(this).prevAll().add(this).removeClass("hoverChosen") }
                ).click(function() {
                    var observable = valueAccessor();
                    observable(index+1);
                  });
            }); 
        },
        update: function(element, valueAccessor){
            var observable = valueAccessor();
            $("span", element).each(function(index){
                $(this).toggleClass("chosen", index < observable());
            });
        },
    };

    ko.bindingHandlers.jqButton = {
        init: function(element) {
            $(element).button();
        },
        
        update: function(element, valueAccessor){
            var currentValue = valueAccessor();
            $(element).button("option", "disabled", currentValue.enable === false);
        },
    };


    ko.bindingHandlers.fadeVisible = {
        init: function(element, valueAccessor) {
            var shouldDisplay = valueAccessor();
            $(element).toggle(shouldDisplay);
        },

        update: function(element, valueAccessor) {
            // fade in and out
            var shouldDisplay = valueAccessor();
            shouldDisplay ? $(element).fadeIn() : $(element).fadeOut();
        }
    };

    function Answer(text) { this.answerText = text; this.points = ko.observable(1); }

    function SurveyViewModel(question, pointsBudget, answers) {
        this.question = question;
        this.pointsBudget = pointsBudget;
        this.answers = $.map(answers, function(text) { return new Answer(text) });
        this.save = function() { alert('To do') };
                           
        this.pointsUsed = ko.computed(function() {
            var total = 0;
            for (var i = 0; i < this.answers.length; i++)
                total += this.answers[i].points();
            return total;        
        }, this);
    }

    ko.applyBindings(new SurveyViewModel("Which factors affect your technology choices?", 10, [
       "Functionality, compatibility, pricing - all that boring stuff",
       "How often it is mentioned on Hacker News",    
       "Number of gradients/dropshadows on project homepage",        
       "Totally believable testimonials on project homepage"
    ]));

</script>