<script src = "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<style>
    body { font-family: Helvetica, Arial }
    input:not([type]), input[type=text], input[type=password], select { background-color: #FFFFCC; border: 1px solid gray; padding: 2px; }

    .codeRunner ul {list-style-type: none; margin: 1em 0; background-color: #cde; padding: 1em; border-radius: 0.5em;}
    .codeRunner ul li a { color: Gray; font-size: 90%; text-decoration: none }
    .codeRunner ul li a:hover { text-decoration: underline }
    .codeRunner input:not([type]), input[type=text] { width: 30em; }
    .codeRunner input[disabled] { text-decoration: line-through; border-color: Silver; background-color: Silver; }
    .codeRunner textarea { width: 30em; height: 6em; }
    .codeRunner form { margin-top: 1em; margin-bottom: 1em; }
</style>

<body class="codeRunner">
    <h3> Tasks </h3>

    <form data-bind = "submit: addTask">
        Add task: <input data-bind = "value: newTaskText" placeholder = "What needs to be done?" />
        <button type = "submit"> Add </button> </form>

        <ul data-bind = "foreach: tasks, visible: tasks().length> 0">
            <li>
                <input type = "checkbox" data-bind = "checked: isDone" />
                <input data-bind = "value: title, disable: isDone" />
                <a href = "#" data-bind = "click: $parent.removeTask"> Delete </a> 
            </li>
        </ul>
          You have <b data-bind = "text: incompleteTasks().length">&nbsp;</b> incomplete task(s) 
          <span data-bind = "visible: incompleteTasks().length == 0"> -it 's beer time!</span>

    <form action = "." method = "post">
        <textarea name = "tasks" data-bind = "value: ko.toJSON(tasks)"> </textarea> <button type = "submit"> Save </button> </form>

    <button data-bind = "click: save"> Save </button>

    <script>

        function Task(data) {
            this.title = ko.observable(data.title);
            this.isDone = ko.observable(data.isDone);
        }

        function TaskListViewModel() {
            // Data
            var self = this;
            self.tasks = ko.observableArray([]);
            self.newTaskText = ko.observable();
            self.incompleteTasks = ko.computed(function() {
                return ko.utils.arrayFilter(self.tasks(), function(task) {
                    return !task.isDone()
                });
            });

            // Operations
            self.addTask = function() {
                self.tasks.push(new Task({
                    title: this.newTaskText()
                }));
                self.newTaskText("");
            };

            self.removeTask = function(task) {
                self.tasks.destroy(task)
            };

            self.incompleteTasks = ko.computed(function() {
                return ko.utils.arrayFilter(self.tasks(),
                    function(task) {
                        return !task.isDone() && !task._destroy
                    });
            });

            self.save = function() {
                $.ajax(".", {
                    data: ko.toJSON({
                        tasks: self.tasks
                    }),
                    type: "post",
                    contentType: "application/json",
                    success: function(result) {
                        alert(result)
                    }
                });
            };

            // load initial state from server, convert to tasks, then add em to self.tasks
            $.getJSON(".", function(allData) {
                var mappedTasks = $.map(allData, function(item) {
                    return new Task(item)
                });
                self.tasks(mappedTasks);
            });
        }

        ko.applyBindings(new TaskListViewModel());

    </script>

</body>
