<h2>My Heroes</h2>
<div>
    <label>Hero name:</label> <input #heroName
        (keyup.enter)="add(heroName.value); heroName.value = '' "
        (blur)="add(heroName.value); heroName.value = '' " />
    <button (click)="add(heroName.value); heroName.value = '' ">
        Add
    </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
        (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
    <h2 id="hero-description">
        {{ selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View details</button>
</div>
