<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>
    <input #hero_id value="{{hero.id}}" placeholder="hero id" />
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="gotoDetail(hero_id.value)">Go to that hero ID</button>
</div>
